<div class="container-left">

  <div class="d-flex flex-column flex-md-row align-items-md-center p-5 bg-light">

    <div class="pt-md-3 pb-md">
      <h1 class="bd-title mt-0">Nova Empresa</h1>
    </div>

  </div>
  <div class="bd-content p-5" id="content" role="main">

    <form class="needs-validation" novalidate>

      <div class="row">

        <div class="col-md-4 mb-4">
          <label for="nome">Nome da Empresa</label>
          <input type="text" class="form-control" id="nome" placeholder="" value="" required>
          <div class="invalid-feedback">
            Nome da Empresa é obrigatório.
          </div>
        </div>

        <div class="col-md-2 mb-3">
          <label for="cnpj">CNPJ</label>
          <input type="text" class="form-control" id="cnpj" placeholder="" value="" required>
          <div class="invalid-feedback">
            CNPJ é obrigatório.
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-md-4 mb-4">
          <label for="nomeResponsavel">Nome do Responsável</label>
          <input type="text" class="form-control" id="nomeResponsavel" placeholder="" value="" required>
          <div class="invalid-feedback">
            Nome do Responsável é obrigatório.
          </div>
        </div>

        <div class="col-md-2 mb-3">
          <label for="contato">Contato</label>
          <input type="text" class="form-control" id="contato" placeholder="" value="" required>
          <div class="invalid-feedback">
            Contato é obrigatório.
          </div>
        </div>

      </div>

      <div class="row p-3">
        <div class="col-md-0"><button type="submit" class="btn btn-primary">Salvar</button></div>

        <div class="col"><button type="button" class="btn btn-primary">Novo</button></div>
      </div>
      <div class="row p-1">
        <button type="button" class="btn btn-link">Voltar para a pesquisa</button>
      </div>
    </form>

  </div>
</div>
