<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" (click)="exibindoMenu = !exibindoMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-menu" [hidden]="!exibindoMenu">
      <li class="navbar-usuario">Paulo S. Ferreira</li>
      <li class="navbar-menuitem"><a href="#">Lançamentos</a></li>
      <li class="navbar-menuitem"><a href="#">Empresa</a></li>
      <li class="navbar-menuitem"><a href="#">Logout</a></li>
    </ul>
  </nav>
</div>
